exportPattern("^[[:alpha:]]+")
exportMethods( naten, betaqn, nanet, nanes, danes, danet, daten1, daten2, nasen, dasen, danen, tost, fuks, swan, colnames, seabi, dmrse, dmrse_row, dmrse_col, genki, pfilter, bscon, uSexQN )
import(Biobase, ROC, illuminaio, limma, lumi, methods)
importFrom("stats", "kmeans", "lm", "mad", "median", "na.exclude",
           "qchisq", "quantile", "sd", "t.test", "approx", "na.omit", 'fivenum', 'prcomp', "approxfun", "lm.fit", "model.matrix")
importFrom("utils", "data", "packageVersion", "read.csv", "read.table",
           "write.csv", "write.table")
importFrom("graphics", "legend", 'par',"abline", "text")
#importClassesFrom(methylumi, MethyLumiSet)
#importClassesFrom(minfi,  MethylSet, RGChannelSet, RGChannelSetExtended )
#importClassesFrom(IMA, exprmethy450  )
S3method(epicv2clean, gds.class)
S3method(epicv2clean, default)

